{% extends 'pizza/base.html' %}

{% block 'body' %}

{% load widget_tweaks %}

    <div class="container">
        <h2>Order Pizza</h2>

        <h2>{{ note }}</h2>

        {% if created_pizza_pk %}
            <a href="{% url 'edit_order' created_pizza_pk %}">Edit your order</a>
        {% endif %}

        <form action="{% url 'order' %}" method="post" novalidate>

            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                </div>
            {% endfor %}
    {#        {{ form }}#}

            <input type="submit" value="Order Pizza">

        </form>

        <br><br>

        <p>Want more Pizzas?</p>

        <form action="{% url 'pizzas' %}" method="get">
            {{ multiple_form }}
            <input type="submit" value="Get more Pizza">
        </form>

        <a href="{% url 'home' %}">Back</a>
    </div>

{% endblock %}
